.form{
    min-width: 500px;
    @media screen and (max-width:767px) {
        min-width: 320px;
    }
}

.form__label {
    font-size:0.7rem;
    font-family: "Montserrat-bold";
}

.form__input {
    font-size: 0.8rem !important;
}
.form__error {
        font-size: 0.7rem;
        font-family: "Montserrat-bold";
}

.form__title {
    font-family: "Montserrat-bold";
}

.form__button {
    font-size: 0.9rem !important;
    font-family: "Montserrat-bold" !important;
    padding:8px 18px !important;
    @media screen and (max-width:767px) {
        font-size: 0.8rem !important;
    }
}

.form__sign-in-by-medias-block{
    cursor: pointer;
    p{
        font-family: "Montserrat-bold";
        font-size: 0.8rem;
    }
    svg{
        margin-right: 10px;
        width: 15px;
        height: 15px;
        fill:rgb(220,53,69);
    }
    @media screen and (max-width:767px) {
        p{
            font-size: 0.7rem;
        }
    }
}

.form__addition-text {
     font-family: "Montserrat-bold";
     font-size: 0.8rem;
     @media screen and (max-width:767px) {
        font-size: 0.7rem;
    }
}

.page-title {
    font-size: 1.6rem;
    font-family: "Montserrat-bold";
    @media screen and (max-width:767px) {
        font-size: 1.2rem;
    }
}

.my_table {
    font-size:0.8rem;
    thead th {
        font-size: 0.9rem;   
    }
}

.selector-wrapper {
    position: relative;

    &.selector-wrapper__error{
        div[class*="control"] {
            border-color: red;
            box-shadow:none ;
        }
    }
    
    .error{
        display: flex;
        flex-direction: row;
        align-items: center;
    position: absolute;
    left: 0;
    bottom: -22px;

    p {
        font-size: 0.8rem;
        color: red;
        margin-bottom:0;
    }

    svg {
        fill: red;
        width: 12px;
        height: 12px;
        margin-right: 8px;
    }
    }
}