.col-label {
    font-size: 1.3rem;
    font-family: "Montserrat-bold";
    @media screen and (max-width:767px) {
        font-size: 1rem;
    }
}

.col-value {
    font-size: 1rem;
    font-family: "Montserrat-reg";
    @media screen and (max-width:767px) {
        font-size: 0.9rem;
    }
}


.profile-img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border:2px solid black;

    img{
        width: 100%;
        height: 100%;
        border-radius: 50%;
        object-fit: cover;
    }
}

.profile-img-wrapper{
    max-width: 260px;
    max-height: 260px;
    @media screen and (max-width:1200px) {
        max-width: 220px;
        max-height: 220px;
    }
    @media screen and (max-width:992px) {
        max-width: 180px;
        max-height: 180px;
    }
}